@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  padding: 0;

}

div section.one{
    background-color: #190019;
    color: #dfb6b2;
    padding: 1rem 2rem;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

nav a, h3 a{
    text-decoration: none;
    color: #dfb6b2;
    margin-right: 0.5rem;
}

nav a:hover{
    text-decoration: underline;
}

nav h3{
    font-family: 'Tangerine',cursive;

}

section .intro-text h1{
    font-size: 2rem;
}

section .intro-text h3{
    font-size: 1.5rem;
}


div section.two, .three{
    background-color: #dfb6b2;
    padding: 1rem 2rem;
    
}

div section.two img{
    border-radius: 8px;
    border: 16px solid #fbe4d8;
    width: 100%;
    box-sizing: border-box;
    
}

/*Adding an off canvas to the mobile*/

div.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    text-align: left;
    z-index: 2;
    background-color: #dfb6b2;
    padding-top: 3rem;
    line-height: 2rem;
    overflow-x: hidden;
    
    transition: 0.5s;
}

div.sidenav a{
    text-decoration: none;
    color: #190019;
    font-size: 1.2rem;
    display: block;
    transition: 0.3s;
    padding: 1rem 4rem;
}


div.sidenav a:hover{
    text-decoration: underline;
}

.sidenav .close-btn{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    border: 2px solid #190019;
    border-radius: 4px;
    padding: 0 0.3rem;
    color: #190019;
    margin-left: 50px;
}

span{
    font-size: 2rem;
    cursor: pointer;
}

/*Styling the Social media links*/

div.fonts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    margin-top: 0.75rem;
}
.fa{
    background-color: #dfb6b2;
    font-size: 1.5rem;
    color: #190019;
    text-decoration: none;
    justify-content: space-between;

}

.fa:hover{
    text-shadow: 1px 1px 4px rgba(25, 0, 25, 0.5);
}

/*Removing the contact image for mobile*/
.contact-mobile{
    display: none;
}

/*Styling the footer*/
.footer-mobile, .footer-web{
    background-color: #190019;
    color: #dfb6b2; 
    text-align: center;
    padding: 1rem;
    font-size: 0.75rem;

}

.footer-web{
    visibility: hidden;
}

.alias{
    font-size: 1.2rem;
    font-weight: 600;
}

/*Adding Responsive Styles*/

@media screen and (min-width:780px) {

    .grid-container{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
    }

    section.one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section.one  .intro-text h1{
        font-size: 3rem;
    }

    section.three{
        grid-column: span 2;
    }
    footer.footer-mobile{
        grid-column: span 2;
    }

    div section.two img{
        border-radius: 0;
        border: 0;
        height: 100%;
        
    }

    div section.two{
        background-color: #dfb6b2;
        padding:0;
        border: 1px solid #190019;
        display: grid;
        grid-template-columns: 1fr;
        
    }

    div.about{
        padding:1rem 2rem ;
        margin: 0;
    }
    
}

@media screen and (min-width:960px) {
    div.grid-container{
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr;
    }

    section.three{
        grid-column: 3/4;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

    section.three .contact{
        padding: 1rem 2rem;
    }

    section.three img{
        height: 100%;
        display: block;
        object-fit: fill;
        
        
    }
    section.three div h2{
        margin-top: 0;
        padding: 0.5rem 0;
    }

    footer.footer-mobile{
        display: none;
    }

    .footer-web{
        visibility: visible;
    }
}