body{
    color: #190019;
    font-family: 'Poppins';
    height: 50vh;
}

h3 a{
    text-decoration: none;
    font-family: 'Tangerine';
    color: #ded9d5
    
}

a{
    text-decoration: none;
    color: #d6ccc3;

}

a:hover{
    color: #dfb6b2;
    text-decoration: underline;
}

.Introduction{
    background-color: #190019;
    color: #d6ccc3;
}

div.about, .contact{
    background-color: #dfb6b2;
}

